# this file should be located in $HOME/.bloom

python: /Users/djbutler/anaconda3/envs/salk-tm/bin/python
capture_scan_py: /Users/djbutler/dev/bloom-desktop-pilot/pylon/pylon_fake.py
scans_dir: /Users/djbutler/dev/bloom-data/cyth

bloom_scanner_username: <scanner>@salk.edu
bloom_scanner_password: <password>
bloom_scanner_id: <scanner_id>

# Settings for the Slow Scanner @ Greenhouse

# const python = 'C:\\Users\\PBIOB-GH.PBIOB-GH-05\\.conda\\envs\\pylon\\python.exe'
# const pylon = 'C:\\Users\\PBIOB-GH.PBIOB-GH-05\\Documents\\bloom\\pylon\\pylon.py'
# const image_dir = 'C:\\Users\\PBIOB-GH.PBIOB-GH-05\\Documents\\scans\\' + 'foobar'

# Settings for the Scanner @ PBIO

# const python = 'C:\\Users\\Salk Root Imager\\.conda\\envs\\bloom-desktop\\python.exe'
# const pylon = 'C:\\repos\\bloom-desktop-pilot\\pylon\\pylon_rot.py'
# const image_dir = 'C:\\Users\\Salk Root Imager\\bloom-data\\images'
